In [1]:
#String(r)
x = "Hello World"
print(x)

Hello World

In [2]:
#Get the length
print(len(x))

11

In [3]:
#Access individual chars
print(x[0])
print(x[-1])

H
d

In [2]:
#Slice the string
x = "Hello World"
print(x[0:5])
print(x[6:])

Hello
World

In [4]:
x = "Hello World"
x += " again"
print(x)

Hello World again

In [7]:
print(x.upper())
print(x.lower())

HELLO WORLD AGAIN
hello world again

In [8]:
#Integers
x = 10
y = -5
z = 0
M = 7
K = 45
print(x, y, z, M, K)

10 -5 0 7 45

In [9]:
#1. Addition
a = 5
b = 3
c = a+b
print(c)

8

In [10]:
#2. Subtraction
c = a-b
print(c)

2

In [12]:
#3. Multiplication
c = a*b
print(c)

15

In [13]:
#4. Division
c = a/b
print(c)

1.6666666666666667

In [14]:
#5. Floor Division
c = a//b
print(c)

1

In [15]:
#6. Modulus (Remainder)
c = a%b
print(c)

2

In [16]:
#7. Exponent
c = a**b
print(c)

125

In [18]:
#Mixing integers with strings
age = 55
print("I am " + str(age))

I am 55

In [19]:
# Math with float numbers
a = 5.5
b = 2.0

print(a + b)
print(a - b)
print(a * b)
print(a / b)

7.5
3.5
11.0
2.75

In [24]:
#converting between Float & Integer
#1. From int to float

x = 10
y = float(x)
print(y)

10.0

In [25]:
#2. From Float to int

x = 10.0
y = int(x)
print(y)

10

In [27]:
#Mixing with Strings
price = 19.99
print("The price is $" + str(price))

The price is $19.99

In [2]:
x = "353e"
y = 12
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [3]:
#Complex Number

z = 3+4j

print(z)

(3+4j)

In [31]:
#Accessing real and imaginary part

z = 3 + 4j
print(z.real)
print(z.imag)

3.0
4.0

In [32]:
#Complex number math
a = 2 + 3j
b = 1 + 1j

print(a + b)
print(a - b)
print(a * b)
print(a / c)

(3+4j)
(1+2j)
(-1+5j)
(0.016+0.024j)

In [33]:
#Check data type
z = 5 +2j
print(type(z))

<class 'complex'>

In [34]:
#Create complex numbers
z = complex(3, 4)
print(z)

(3+4j)

In [52]:
#Lists
x = ["apple", "banana", "cherry"]
print(x)

['apple', 'banana', 'cherry']

In [53]:
#Accessing items
print(x[0])
print(x[1])
print(x[2])

apple
banana
cherry

In [54]:
#changing items
x[1] = "orange"
print(x)

['apple', 'orange', 'cherry']

In [55]:
#Adding Items
x.append("grape")
print(x)

['apple', 'orange', 'cherry', 'grape']

In [56]:
#Inserting at a position
x.insert(1, "kiwi")
print(x)

['apple', 'kiwi', 'orange', 'cherry', 'grape']

In [57]:
#Removing Items
x.remove("orange")  #removes by value
x.pop()  #removes last item
del x[0]  #removes by index
print(x)

['kiwi', 'cherry']

In [58]:
#Looping through a list
for fruit in x:
    print(fruit)

kiwi
cherry

In [65]:
#List can hold anything
mixed = [10, "hello", 3.14, True]
print(mixed)

[10, 'hello', 3.14, True]

In [67]:
#Tuples
x = ("apple", "banana", "cherry")

In [68]:
#Accessing Tuple items
x = ("apple", "banana", "cherry")
print(x[0])
print(x[1])
print(x[2])

apple
banana
cherry

In [69]:
#Tuple with one item
x = ("apple",)
y = ("apple")

print(type(x))
print(type(y))

<class 'tuple'>
<class 'str'>

In [9]:
#Tuple Methods
#Tuples have only two built - in methods:
x = ("apple", "banana", "apple", "cherry")
print(x.count("apple"))
print(x.count("cherry"))

2
1

In [10]:
#Convert to list:
#For loop in Python
#What is i? 
x = list(range(5))
print(x)

[0, 1, 2, 3, 4]

In [23]:
#Basics Dictionary Example:
student = {"name": "Alice", "age": 20, "grade": "A"}
#"name", "age", "grade" are keys
#"Alice", 20, "A" are values
#Accessing values:
print(student["name"])
print(student["age"])
print(student["grade"])

Alice
20
A

In [24]:
#Changing values
student["age"] = 21
print(student)

{'name': 'Alice', 'age': 21, 'grade': 'A'}

In [33]:
#Adding a new key value pairs:
student["email"] = "alice@example.com"
print(student)

{'name': 'Alice', 'age': 21, 'grade': 'A', 'email': 'alice@example.com'}

In [36]:
#Looping through a dictionary
for key in student:
    print(key)

name
age
grade
email

In [37]:
#Values:
for value in student.values():
    print(value)

Alice
21
A
alice@example.com

In [48]:
#Looping through dictionary(key, value)
for key, value in student.items():
    print(key, ":", value)

name : Alice
age : 21
grade : A
email : alice@example.com

In [ ]:
#delete item
       #del student["key"]

In [49]:
#Dictionary Functions
print(len(student))
print(student.keys())
print(student.values())
print(student.items())

4
dict_keys(['name', 'age', 'grade', 'email'])
dict_values(['Alice', 21, 'A', 'alice@example.com'])
dict_items([('name', 'Alice'), ('age', 21), ('grade', 'A'), ('email', 'alice@example.com')])

In [2]:
#Set
#Creating a set:
fruits = {"apple", "banana", "cherry"}
print(fruits)
#The output may not be in order
#Or using the set () function:
numbers = set({1,2,3,2,1})
print(numbers)

{'banana', 'cherry', 'apple'}
{1, 2, 3}

In [4]:
#Adding items:
fruits.add("orange")
print(fruits)

{'orange', 'banana', 'cherry', 'apple'}

In [51]:
#Removing items:
fruits.discard("grape")
print(fruits)

{'orange', 'cherry', 'apple'}

In [23]:
#looping through a set:

#Set Operations (Great For Math)

a = {1,2,3}
b = {3,4,5}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [27]:
#If you need indexing, convert to list:
fruit_list = list(fruits)
print(fruit_list[0])

orange

In [29]:
#Frozenset
#Example 
x = frozenset({"apple", "banana", "cherry"})
print(x)

frozenset({'banana', 'cherry', 'apple'})

In [30]:
#Set Operation
a = frozenset([1,2,3,])
b = frozenset([3,4,5])
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

frozenset({1, 2, 3, 4, 5})
frozenset({3})
frozenset({1, 2})

In [31]:
#Bool
#You can use bool() to convert other types into a boolen:
x = True
y = False
print(bool(1))
print(bool(0))
print(bool("hello"))
print(bool(""))

True
False
True
False

In [32]:
#Booleans in Conditions:

x = 10
y = 5
if x > y:
    print("x is greater")

x is greater

In [37]:
#Example

age = 18
print(age >= 18)

True

In [38]:
print(x or y)
print(not x)

10
False

In [39]:
#Bytes
x = bytes([65, 66, 67])
print(x)

b'ABC'

In [41]:
#From a string using .encode():
text = "hello"
x = text.encode()
print(x)

b'hello'

In [42]:
#Accessing Bytes:
x = b"hello"
print(x[0])

104

In [43]:
#Accessing and modifying:
x = bytearray(b"hello")
print(x[0])

104

In [44]:
x[0] = 72
print(x)

bytearray(b'Hello')

In [45]:
#Converting Back to string:
x = bytearray(b"world")
text = x.decode()
print(text)

world

In [3]:
#Circle
print(math.pi)

3.141592653589793

In [7]:
#Circle
r = float(input("enter r"))
import math
A = math.pi * (r **2)
print(A)

enter r 7

153.93804002589985

In [ ]:
#Summary: bytes vs bytearray
#Feature bytes bytearray
#Mutable No    Yes
#Indexing Yes  Yes
#Use cases Read-only binary Editable binary
#End