In [19]:
x = "Donbosco Kiitec"
print (x)
print(x[4])
print (x[-1])
print(x.upper())

Donbosco Kiitec
o
c
DONBOSCO KIITEC

In [22]:
x = 0
y = 5
z = 0
print (x,y,z)

0 5 0

In [29]:
# Intergers with strings
y = "20"
print ("I am " + y)

I am 20

In [30]:
age = 20
print ("I am " + str(age))

I am 20

In [32]:
x = 30
y = float(x)
print (y)

30.0

In [36]:
x = 35e3
y = "12e4"
m = 26
print (type(x))
print (type(y))
print (type(m))

<class 'float'>
<class 'str'>
<class 'int'>

In [39]:
z = 3+4j
print (z.real)
print (z.imag)

3.0
4.0

In [44]:
x = "Kiitec"
print (x[0])
print (x[2])

K
i

In [46]:
# Replace command
x = ["apple", "banana", "cherry"]
x[1] = "mango"
print (x)

['apple', 'mango', 'cherry']

In [48]:
x = ["apple", "banana", "cherry"]
print (x[0])
print (x[-1])
print (x[2])

apple
cherry
cherry

In [50]:
# Add command
x = ["apple", "banana", "cherry"]
x.append("grape")
print (x)

['apple', 'banana', 'cherry', 'grape']

In [51]:
# Remove the last item
x = ["apple", "banana", "cherry"]
x.pop()
print (x)

['apple', 'banana']

In [52]:
# Remove command
x = ["apple", "banana", "cherry"]
x.remove("banana")
print (x)

['apple', 'cherry']

In [53]:
# Delete command
x = ["apple", "banana", "cherry"]
del x[0]
print (x)

['banana', 'cherry']

In [55]:
# Truple () List[] command
x = ("apple", "banana", "cherry")
print (x)

('apple', 'banana', 'cherry')

In [65]:
x = "Donbosco Kiitec"
y = "Arusha"
print (x+ y)
x +  " Arusha"

Donbosco KiitecArusha

'Donbosco Kiitec Arusha'

In [66]:
x = ["apple", "banana", "cherry"]
x.insert(1, "kiwi")
print (x)

['apple', 'kiwi', 'banana', 'cherry']

In [3]:
x = "DB Kiitec"
y = "Arusha"
print (x + y)
x + " Arusha"

DB KiitecArusha

'DB Kiitec Arusha'

In [6]:
#Rectangle (l & w)
l =int(input("Enter l"))
w =int(input("Enter w"))
A =l*w
print(A)

Enter l 90
Enter w 90

8100

In [11]:
#Triamgle
b = int(input("enter b"))
h = int(input("enter h"))
A = 1/2*b*h
print(A)

enter b 12
enter h 10

60.0

In [18]:
#Polgon
d1 = int(input("enter d1"))
d2 = int(input("enter d2"))
A = 1/2*d1*d2
print(A)

enter d1 12
enter d2 12

72.0

In [13]:
#Trapezium
a = int(input("enter a"))
b = int(input("enter b"))
h = int(input("enter h"))
A = 1/2*(a+b)*h
print(A)

enter a 12
enter b 12
enter h 10

120.0

In [39]:
#Circle
r = float(input("enter r"))
import math
A = math.pi*r**2
print(A)

enter r 7

153.93804002589985

In [21]:
#Total surface area of a Cone
r = int(input("enter r"))
l = int(input("enter l"))
A = 3.14*r*(r+l)
print(A)

enter r 7
enter l 14

461.58

In [29]:
#Total surface area of a Cylinder 
r = int(input("enter r"))
h = int(input("enter h"))
A = 2*3.14*r*(r+h)
print(A)

enter r 7
enter h 14

923.16

In [37]:
#Total surface area of a Cylinder 
r = 5
Area = 3.14*(r**2)
print(Area)

78.5

In [12]:
#Even or Odd number
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("The number is Even")
else:
    print("The number is Odd")

Enter a number:  5

The number is Odd

In [1]:
#Check if a Number is positive, Negative or Zero
num = float(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Enter a number:  -4

Negative number

In [2]:
#Simple Pass or Fail check
marks = int(input("Enter your marks: "))
if marks >=50:
    print("You passed!")
else:
    print("You failed.")

Enter your marks:  80

You passed!

In [7]:
#Simple Pass or Fail check
marks = int(input("Please enter your marks (0-100): "))
if marks >=90:
    grade = "A"
elif:
    if marks >= 80:
        grade = "B"
        elif:
        if marks >= 70:
        grade = "C"
    
    print("Grade "A")
if marks >=65:
    print("Grade "B")
if marks >=50:
    print("Grade C")

Enter your marks:  65

Grade B
Grade C

In [17]:
#Simple Pass or Fail check
marks = int(input("Please enter your marks (0-100): "))
if 0<= marks <= 100:
    if marks >= 90:
        grade = "A"
    elif marks >= 80:
        grade = "B"
    elif marks >= 70:
        grade = "C"
    elif marks >=60:
        grade = "D"
    else:
        grade = "F"
        print("Grade:", grade)
    print("Invalid marks. Please enter your value between 0 and 100.")
print("Invalid input. Please enter a numeric value.")

Please enter your marks (0-100):  85

Invalid marks. Please enter your value between 0 and 100.
Invalid input. Please enter a numeric value.

In [17]:
#Simple Pass or Fail check
marks = int(input("Please enter your marks (0-100): "))
if 0<= marks <= 100:
    if marks >= 90:
        grade = "A"
    elif marks >= 80:
        grade = "B"
    elif marks >= 70:
        grade = "C"
    elif marks >=60:
        grade = "D"
    else:
        grade = "F"
        print("Grade:", grade)
    print("Invalid marks. Please enter your value between 0 and 100.")
print("Invalid input. Please enter a numeric value.")

Please enter your marks (0-100):  85

Invalid marks. Please enter your value between 0 and 100.
Invalid input. Please enter a numeric value.

In [3]:
#Voting Eligibility program
age = int(input("Enter your age"))
if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age 17

You are not eligible to vote

In [5]:
#Voting Eligibility program
Year = int(input("Enter your Year of birth"))
if Year >=2007:
    
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your Year of birth 2008

You are eligible to vote